# PREPROCESAMIENTO DE LA BASE DE DATOS

In [1]:
from sklearn.datasets import load_iris
iris = load_iris()
import pandas as pd
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [3]:
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)  
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

## Tratamiento de datos faltantes

In [15]:
import numpy as np 
data = [[1.0,2.0,3.0,4.0], [5.0,6.0,np.nan,8.0], [10.0,11.0,12.0, np.nan]]
df = pd.DataFrame(np.array(data), columns=['A', 'B', 'C', 'D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [6]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [7]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [ ]:
df.dropna() # no modifica el df original

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [11]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [12]:
# Eliminar filas con valores nulos 
df_cleaned = df.dropna()
df_cleaned

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [17]:
df.dropna(inplace=True) # modifica el df original
df

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [18]:
# Cargar los datos de nuevo
df = pd.DataFrame(np.array(data), columns=['A', 'B', 'C', 'D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [19]:
df.dropna(axis=1, inplace=True) # elimina las columnas con valores nulos del df original
df

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [20]:
# Cargar los datos de nuevo
df = pd.DataFrame(np.array(data), columns=['A', 'B', 'C', 'D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [21]:
# añadir una fila con NaN
df.loc[3] = [np.nan, np.nan, np.nan, np.nan]
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN

In [25]:
# elimina filas donde todos los valores son NaN en el df original
df.dropna(how='all', inplace=True)  
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [30]:
df.loc[3] = [np.nan, np.nan, np.nan, 3.0]
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  3.0

In [31]:
# elimina filas donde al menos 3 valores son NaN en el df original
df.dropna(thresh=3, inplace=True)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [33]:
# elimina filas con valores nulos en la columna 'C' del df original
df.dropna(subset=['C'], inplace=True)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [41]:
# Eliminar valores nulos mediante imputación
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df = pd.DataFrame(np.array(data), columns=['A', 'B', 'C', 'D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [ ]:
# conocer que hace la función
help(imputer.fit)

In [40]:
# aplicar la imputación: la media de las otras filas se usa para rellenar los valores nulos
nuevos_valores = imputer.fit_transform(df.values)
nuevos_valores

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

## Tratamiento de datos categóricos

In [44]:
df = pd.DataFrame([['green', 'M', 10.1, 'class1'],
                   ['red', 'L', 13.5, 'class2'],
                   ['blue', 'XL', 15.3, 'class1']])
df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [45]:
talla_mapping = {'XL':3, 'L':2, 'M':1} # Asignar valores enteros a las categorías
df['size'] = df['size'].map(talla_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [47]:
clase_mapping = {'class1':0, 'class2':1}
df['classlabel'] = df['classlabel'].map(clase_mapping)
colors_mapping = {0:'red', 1:'blue', 2:'green'}
df['color'] = df['color'].map(colors_mapping)
df

  color  size  price  classlabel
0   NaN     1   10.1         NaN
1   NaN     2   13.5         NaN
2   NaN     3   15.3         NaN

In [49]:
# cargar los datos de nuevo
df = pd.DataFrame([['green', 'M', 10.1, 'class1'],
                   ['red', 'L', 13.5, 'class2'],
                   ['blue', 'XL', 15.3, 'class1']])
df.columns = ['color', 'talla', 'peso', 'clase']
df

   color talla  peso   clase
0  green     M  10.1  class1
1    red     L  13.5  class2
2   blue    XL  15.3  class1

In [52]:
# Usar LabelEncoder para convertir variables categóricas a numéricas de manera automática
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['color'] = le.fit_transform(df['color'])
df['talla'] = le.fit_transform(df['talla'])
df['clase'] = le.fit_transform(df['clase'])

df

   color  talla  peso  clase
0      1      1  10.1      0
1      2      0  13.5      1
2      0      2  15.3      0

In [54]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [72]:
iris_resultado = pd.DataFrame(data=iris.target, columns=['tipo de iris'])
# cambiar esas variables numericas a categóricas de nuevo en el DataFrame
iris_resultado['tipo de iris'].replace({0:'setosa', 1:'versicolor', 2:'virginica'}, inplace=True)
iris_resultado

    ## esto solo se haría en los resultados, en los entrenos todo sería numérico

C:\Users\ddiaz\AppData\Local\Temp\ipykernel_22316\4218904300.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  iris_resultado['tipo de iris'].replace({0:'setosa', 1:'versicolor', 2:'virginica'}, inplace=True)

    tipo de iris
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
..           ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica

[150 rows x 1 columns]

In [73]:
iris_resultado = pd.get_dummies(iris_resultado, columns=['tipo de iris'])
iris_resultado

     tipo de iris_setosa  tipo de iris_versicolor  tipo de iris_virginica
0                   True                    False                   False
1                   True                    False                   False
2                   True                    False                   False
3                   True                    False                   False
4                   True                    False                   False
..                   ...                      ...                     ...
145                False                    False                    True
146                False                    False                    True
147                False                    False                    True
148                False                    False                    True
149                False                    False                    True

[150 rows x 3 columns]

## One Hot Encoder
Es una técnica para convertir variables categóricas en variables binarias (0 o 1) que representan la presencia o ausencia de una categoría específica.

In [92]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data = [['green', 'M', 10.1, 'class1'],
        ['red', 'L', 13.5, 'class2'],   
        ['blue', 'XL', 15.3, 'class1']] 
df = pd.DataFrame(data, columns=['color', 'size', 'price', 'classlabel'])
print('DataFrame original con variables categóricas')
print(df)

df_dummies = pd.get_dummies(df, columns=['color', 'size', 'classlabel'])
print('\nDataFrame con variables categóricas convertidas a variables dummy\n', df_dummies)
df_dummies

# One Hot Encoder con sklearn
ohe = OneHotEncoder()
ohe_array = ohe.fit_transform(df[['color', 'size', 'classlabel']]).toarray()
ohe_array = pd.DataFrame(ohe_array, columns=ohe.get_feature_names_out(['color', 'size', 'classlabel']))
ohe_array = pd.concat([ohe_array, df[['price']].reset_index(drop=True)], axis=1)
print('\nDataFrame con variables categóricas convertidas a variables dummy usando OneHotEncoder de sklearn\n', ohe_array)

DataFrame original con variables categóricas
   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

DataFrame con variables categóricas convertidas a variables dummy
    price  color_blue  color_green  color_red  size_L  size_M  size_XL  \
0   10.1       False         True      False   False    True    False
1   13.5       False        False       True    True   False    False
2   15.3        True        False      False   False   False     True

   classlabel_class1  classlabel_class2
0               True              False
1              False               True
2               True              False

DataFrame con variables categóricas convertidas a variables dummy usando OneHotEncoder de sklearn
    color_blue  color_green  color_red  size_L  size_M  size_XL  \
0         0.0          1.0        0.0     0.0     1.0      0.0
1         0.0          0.0        1.0     1.0     0.0      0.0
2         1.0          0.0        0.0     0.0     0.0      1.0

   classlabel_class1  classlabel_class2  price
0                1.0                0.0   10.1
1                0.0                1.0   13.5
2                1.0                0.0   15.3

## Estandarizado o escalado de los datos

In [96]:
from sklearn.datasets import load_wine
import pandas as pd

wine = load_wine()
wine_df = pd.DataFrame(data=wine.data, columns=wine.feature_names)
wine_df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [101]:
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 178\n:Number of Attributes: 13 numeric, predictive attributes and the class\n:Attribute Information:\n    - Alcohol\n    - Malic acid\n    - Ash\n    - Alcalinity of ash\n    - Magnesium\n    - Total phenols\n    - Flavanoids\n    - Nonflavanoid phenols\n    - Proanthocyanins\n    - Color intensity\n    - Hue\n    - OD280/OD315 of diluted wines\n    - Proline\n    - class:\n        - class_0\n        - class_1\n        - class_2\n\n:Summary Statistics:\n\n============================= ==== ===== ======= =====\n                                Min   Max   Mean     SD\n============================= ==== ===== ======= =====\nAlcohol:                      11.0  14.8    13.0   0.8\nMalic Acid:                   0.74  5.80    2.34  1.12\nAsh:                          1.36  3.23    2.36  0.27\nAlcalinity of Ash:            10.6  30.0    19.5   3.3\nMagnesium:                    70.0 162.0    99.7  14.3\nTotal Phenols:                0.98  3.88    2.29  0.63\nFlavanoids:                   0.34  5.08    2.03  1.00\nNonflavanoid Phenols:         0.13  0.66    0.36  0.12\nProanthocyanins:              0.41  3.58    1.59  0.57\nColour Intensity:              1.3  13.0     5.1   2.3\nHue:                          0.48  1.71    0.96  0.23\nOD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\nProline:                       278  1680     746   315\n============================= ==== ===== ======= =====\n\n:Missing Attribute Values: None\n:Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners:\n\nForina, M. et al, PARVUS -\nAn Extendible Package for Data Exploration, Classification and Correlation.\nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science.\n\n.. dropdown:: References\n\n    (1) S. Aeberhard, D. Coomans and O. de Vel,\n    Comparison of Classifiers in High Dimensional Settings,\n    Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of\n    Mathematics and Statistics, James Cook University of North Queensland.\n    (Also submitted to Technometrics).\n\n    The data was used with many others for comparing various\n    classifiers. The classes are separable, though only RDA\n    has achieved 100% correct classification.\n    (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))\n    (All results using the leave-one-out technique)\n\n    (2) S. Aeberhard, D. Coomans and O. de Vel,\n    "THE CLASSIFICATION PERFORMANCE OF RDA"\n    Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of\n    Mathematics and Statistics, James Cook University of North Queensland.\n    (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [103]:
from sklearn.model_selection import train_test_split
# Características y etiquetas (variables objetivo)
X, y = wine_df, wine.target 

# Dividir los datos en conjuntos de entrenamiento y prueba (80% entrenamiento, 20% prueba) estratificando según las clases (proporcional a cada clase)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
print(X_train)
print(y_train)

     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
36     13.28        1.64  2.84               15.5      110.0           2.60
30     13.73        1.50  2.70               22.5      101.0           3.00
26     13.39        1.77  2.62               16.1       93.0           2.85
12     13.75        1.73  2.41               16.0       89.0           2.60
148    13.32        3.24  2.38               21.5       92.0           1.93
..       ...         ...   ...                ...        ...            ...
142    13.52        3.17  2.72               23.5       97.0           1.55
87     11.65        1.67  2.62               26.0       88.0           1.92
34     13.51        1.80  2.65               19.0      110.0           2.35
163    12.96        3.45  2.35               18.5      106.0           1.39
131    12.88        2.99  2.40               20.0      104.0           1.30

     flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
36         2.68                  0.34             1.36             4.60  1.09
30         3.25                  0.29             2.38             5.70  1.19
26         2.94                  0.34             1.45             4.80  0.92
12         2.76                  0.29             1.81             5.60  1.15
148        0.76                  0.45             1.25             8.42  0.55
..          ...                   ...              ...              ...   ...
142        0.52                  0.50             0.55             4.35  0.89
87         1.61                  0.40             1.34             2.60  1.36
34         2.53                  0.29             1.54             4.20  1.10
163        0.70                  0.40             0.94             5.28  0.68
131        1.22                  0.24             0.83             5.40  0.74

     od280/od315_of_diluted_wines  proline
36                           2.78    880.0
30                           2.71   1285.0
26                           3.22   1195.0
12                           2.90   1320.0
148                          1.62    650.0
..                            ...      ...
142                          2.06    520.0
87                           3.21    562.0
34                           2.87   1095.0
163                          1.75    675.0
131                          1.42    530.0

[142 rows x 13 columns]
[0 0 0 0 2 2 1 2 0 0 1 1 0 0 2 1 1 1 0 0 1 2 0 2 2 0 0 1 1 0 0 0 0 0 1 2 0
 1 0 1 1 1 1 1 1 1 0 0 2 0 0 2 1 1 2 1 1 1 1 0 1 1 0 0 0 0 0 1 1 1 2 2 0 0
 2 1 1 1 1 2 0 2 0 2 1 2 2 1 0 0 1 1 1 0 0 0 2 1 1 1 2 1 0 1 0 1 2 0 0 1 2
 2 1 1 1 2 2 2 2 1 1 2 1 2 2 0 0 2 0 1 2 2 1 2 1 1 1 2 1 0 2 2]

In [105]:
from sklearn.model_selection import train_test_split
# estas funciones de las librerías sirven para escalar los datos y el robust scaler es útil para datos con outliers
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

X, y = wine_df, wine.target 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print('Valores sin escalar:')
print(X_train)
print(X_test)

print('\nValores con escala estandar:')
standard_scaler = StandardScaler() # crear el objeto StandardScaler
X_train_scaled = standard_scaler.fit_transform(X_train) # ajustar y transformar los datos de entrenamiento
X_test_scaled = standard_scaler.transform(X_test) # transformar los datos de prueba
print(X_train_scaled)
print(X_test_scaled)


print('\nValores con escala Min-Max:')
minmax_scaler = MinMaxScaler() # crear el objeto MinMaxScaler
X_train_minmax = minmax_scaler.fit_transform(X_train) # ajustar y transformar los datos de entrenamiento
X_test_minmax = minmax_scaler.transform(X_test) # transformar los datos de prueba
print(X_train_minmax)
print(X_test_minmax)

print('\nValores con escala Robust:')
robust_scaler = RobustScaler() # crear el objeto RobustScaler
X_train_robust = robust_scaler.fit_transform(X_train) # ajustar y transformar los datos de entrenamiento
X_test_robust = robust_scaler.transform(X_test) # transformar los datos de prueba
print(X_train_robust)
print(X_test_robust)

Valores sin escalar:
     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
36     13.28        1.64  2.84               15.5      110.0           2.60
30     13.73        1.50  2.70               22.5      101.0           3.00
26     13.39        1.77  2.62               16.1       93.0           2.85
12     13.75        1.73  2.41               16.0       89.0           2.60
148    13.32        3.24  2.38               21.5       92.0           1.93
..       ...         ...   ...                ...        ...            ...
142    13.52        3.17  2.72               23.5       97.0           1.55
87     11.65        1.67  2.62               26.0       88.0           1.92
34     13.51        1.80  2.65               19.0      110.0           2.35
163    12.96        3.45  2.35               18.5      106.0           1.39
131    12.88        2.99  2.40               20.0      104.0           1.30

     flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
36         2.68                  0.34             1.36             4.60  1.09
30         3.25                  0.29             2.38             5.70  1.19
26         2.94                  0.34             1.45             4.80  0.92
12         2.76                  0.29             1.81             5.60  1.15
148        0.76                  0.45             1.25             8.42  0.55
..          ...                   ...              ...              ...   ...
142        0.52                  0.50             0.55             4.35  0.89
87         1.61                  0.40             1.34             2.60  1.36
34         2.53                  0.29             1.54             4.20  1.10
163        0.70                  0.40             0.94             5.28  0.68
131        1.22                  0.24             0.83             5.40  0.74

     od280/od315_of_diluted_wines  proline
36                           2.78    880.0
30                           2.71   1285.0
26                           3.22   1195.0
12                           2.90   1320.0
148                          1.62    650.0
..                            ...      ...
142                          2.06    520.0
87                           3.21    562.0
34                           2.87   1095.0
163                          1.75    675.0
131                          1.42    530.0

[142 rows x 13 columns]
     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
10     14.10        2.16  2.30               18.0      105.0           2.95
134    12.51        1.24  2.25               17.5       85.0           2.00
28     13.87        1.90  2.80               19.4      107.0           2.95
121    11.56        2.05  3.23               28.5      119.0           3.18
62     13.67        1.25  1.92               18.0       94.0           2.10
51     13.83        1.65  2.60               17.2       94.0           2.45
7      14.06        2.15  2.61               17.6      121.0           2.60
66     13.11        1.01  1.70               15.0       78.0           2.98
129    12.04        4.30  2.38               22.0       80.0           2.10
166    13.45        3.70  2.60               23.0      111.0           1.70
102    12.34        2.45  2.46               21.0       98.0           2.56
143    13.62        4.95  2.35               20.0       92.0           2.00
42     13.88        1.89  2.59               15.0      101.0           3.25
130    12.86        1.35  2.32               18.0      122.0           1.51
14     14.38        1.87  2.38               12.0      102.0           3.30
108    12.22        1.29  1.94               19.0       92.0           2.36
105    12.42        2.55  2.27               22.0       90.0           1.68
20     14.06        1.63  2.28               16.0      126.0           3.00
100    12.08        2.08  1.70               17.5       97.0           2.23
38     13.07        1.50  2.10               15.5       98.0           2.40
93     12.29        2.83  2.22               18.0       88.0           2.45
60     12.33        1.10  2.28               16.0      101.0           2.05
22     13.71        1.86  2.36               16.6      101.0           2.61
18     14.19        1.59  2.48               16.5      108.0           3.30
98     12.37        1.07  2.10               18.5       88.0           3.52
64     12.17        1.45  2.53               19.0      104.0           1.89
58     13.72        1.43  2.50               16.7      108.0           3.40
132    12.81        2.31  2.40               24.0       98.0           1.15
112    11.76        2.68  2.92               20.0      103.0           1.75
155    13.17        5.19  2.32               22.0       93.0           1.74
48     14.10        2.02  2.40               18.8      103.0           2.75
176    13.17        2.59  2.37               20.0      120.0           1.65
94     11.62        1.99  2.28               18.0       98.0           3.02
177    14.13        4.10  2.74               24.5       96.0           2.05
164    13.78        2.76  2.30               22.0       90.0           1.35
173    13.71        5.65  2.45               20.5       95.0           1.68

     flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
10         3.32                  0.22             2.38             5.75  1.25
134        0.58                  0.60             1.25             5.45  0.75
28         2.97                  0.37             1.76             4.50  1.25
121        5.08                  0.47             1.87             6.00  0.93
62         1.79                  0.32             0.73             3.80  1.23
51         2.99                  0.22             2.29             5.60  1.24
7          2.51                  0.31             1.25             5.05  1.06
66         3.18                  0.26             2.28             5.30  1.12
129        1.75                  0.42             1.35             2.60  0.79
166        0.92                  0.43             1.46            10.68  0.85
102        2.11                  0.34             1.31             2.80  0.80
143        0.80                  0.47             1.02             4.40  0.91
42         3.56                  0.17             1.70             5.43  0.88
130        1.25                  0.21             0.94             4.10  0.76
14         3.64                  0.29             2.96             7.50  1.20
108        2.04                  0.39             2.08             2.70  0.86
105        1.84                  0.66             1.42             2.70  0.86
20         3.17                  0.24             2.10             5.65  1.09
100        2.17                  0.26             1.40             3.30  1.27
38         2.64                  0.28             1.37             3.70  1.18
93         2.25                  0.25             1.99             2.15  1.15
60         1.09                  0.63             0.41             3.27  1.25
22         2.88                  0.27             1.69             3.80  1.11
18         3.93                  0.32             1.86             8.70  1.23
98         3.75                  0.24             1.95             4.50  1.04
64         1.75                  0.45             1.03             2.95  1.45
58         3.67                  0.19             2.04             6.80  0.89
132        1.09                  0.27             0.83             5.70  0.66
112        2.03                  0.60             1.05             3.80  1.23
155        0.63                  0.61             1.55             7.90  0.60
48         2.92                  0.32             2.38             6.20  1.07
176        0.68                  0.53             1.46             9.30  0.60
94         2.26                  0.17             1.35             3.25  1.16
177        0.76                  0.56             1.35             9.20  0.61
164        0.68                  0.41             1.03             9.58  0.70
173        0.61                  0.52             1.06             7.70  0.64

     od280/od315_of_diluted_wines  proline
10                           3.17   1510.0
134                          1.51    650.0
28                           3.40    915.0
121                          3.69    465.0
62                           2.46    630.0
51                           3.37   1265.0
7                            3.58   1295.0
66                           3.18    502.0
129                          2.57    580.0
166                          1.56    695.0
102                          3.38    438.0
143                          2.05    550.0
42                           3.56   1095.0
130                          1.29    630.0
14                           3.00   1547.0
108                          3.02    312.0
105                          3.30    315.0
20                           3.71    780.0
100                          2.96    710.0
38                           2.69   1020.0
93                           3.30    290.0
60                           1.67    680.0
22                           4.00   1035.0
18                           2.82   1680.0
98                           2.77    660.0
64                           2.23    355.0
58                           2.87   1285.0
132                          1.36    560.0
112                          2.50    607.0
155                          1.48    725.0
48                           2.75   1060.0
176                          1.62    840.0
94                           2.96    345.0
177                          1.60    560.0
164                          1.68    615.0
173                          1.74    740.0

Valores con escala estandar:
[[ 0.38580089 -0.63787118  1.77666817 ...  0.62437819  0.2529082
   0.46772474]
 [ 0.94851892 -0.76544542  1.25317383 ...  1.06715537  0.15104809
   1.81576773]
 [ 0.52335419 -0.51940939  0.9540342  ... -0.12834302  0.89317174
   1.51620262]
 ...
 [ 0.67341233 -0.49207206  1.06621156 ...  0.66865591  0.38387119
   1.1833525 ]
 [-0.01435415  1.01148145 -0.05556203 ... -1.19100825 -1.24589054
  -0.21461801]
 [-0.11439291  0.59230896  0.13140024 ... -0.92534194 -1.7260882
  -0.69725068]]
[[ 1.41119819e+00 -1.64024018e-01 -2.42524290e-01 -4.82454584e-01
   3.60516237e-01  1.09205418e+00  1.40697489e+00 -1.17972837e+00
   1.34974202e+00  3.26792693e-01  1.33282168e+00  8.20414517e-01
   2.56468050e+00]
 [-5.77072182e-01 -1.00236900e+00 -4.29486554e-01 -6.30869988e-01
  -9.83140080e-01 -4.42030055e-01 -1.48151070e+00  2.01917328e+00
  -6.06183246e-01  1.97855316e-01 -8.81064226e-01 -1.59512520e+00
  -2.97830538e-01]
 [ 1.12358675e+00 -4.00947601e-01  1.62709836e+00 -6.68914501e-02
   4.94881869e-01  1.09205418e+00  1.03800775e+00  8.29959657e-02
   2.76579486e-01 -2.10446378e-01  1.33282168e+00  1.15509773e+00
   5.84222283e-01]
 [-1.76503247e+00 -2.64260919e-01  3.23497383e+00  2.63426892e+00
   1.30107566e+00  1.46346405e+00  3.26235249e+00  9.24812189e-01
   4.66979291e-01  4.34240507e-01 -8.40653013e-02  1.57708961e+00
  -9.13603262e-01]
 [ 8.73489848e-01 -9.93256556e-01 -1.66343750e+00 -4.82454584e-01
  -3.78494737e-01 -2.80547503e-01 -2.05938600e-01 -3.37912146e-01
  -1.50625505e+00 -5.11300257e-01  1.24426624e+00 -2.12738014e-01
  -3.64400562e-01]
 [ 1.07356737e+00 -6.28758737e-01  8.79249298e-01 -7.19919231e-01
  -3.78494737e-01  2.84641427e-01  1.05909159e+00 -1.17972837e+00
   1.19396036e+00  2.62324004e-01  1.28854396e+00  1.11144340e+00
   1.74919771e+00]
 [ 1.36117881e+00 -1.73136464e-01  9.16641751e-01 -6.01186907e-01
   1.43544129e+00  5.26865254e-01  5.53079512e-01 -4.22093768e-01
  -6.06183246e-01  2.59388133e-02  4.91545033e-01  1.41702372e+00
   1.84905274e+00]
 [ 1.73218523e-01 -1.21195525e+00 -2.48607146e+00 -1.37294701e+00
  -1.45341979e+00  1.14049895e+00  1.25938803e+00 -8.43001880e-01
   1.17665129e+00  1.33386627e-01  7.57211341e-01  8.34965961e-01
  -7.90448717e-01]
 [-1.16479990e+00  1.78603931e+00  5.66153336e-02  7.04868655e-01
  -1.31905416e+00 -2.80547503e-01 -2.48106272e-01  5.03904078e-01
  -4.33092514e-01 -1.02704976e+00 -7.03953354e-01 -5.26721286e-02
  -5.30825623e-01]
 [ 5.98383256e-01  1.23929258e+00  8.79249298e-01  1.00169946e+00
   7.63613132e-01 -9.26477709e-01 -1.12308548e+00  5.88085700e-01
  -2.42692709e-01  2.44566359e+00 -4.38287045e-01 -1.52236798e+00
  -1.48047983e-01]
 [-7.89654549e-01  1.00236900e-01  3.55754957e-01  4.08037845e-01
  -1.09763474e-01  4.62272234e-01  1.31402783e-01 -1.69548901e-01
  -5.02328807e-01 -9.41091513e-01 -6.59675636e-01  1.12599484e+00
  -1.00347279e+00]
 [ 8.10965623e-01  2.37834827e+00 -5.55620251e-02  1.11207036e-01
  -5.12860369e-01 -4.42030055e-01 -1.24958850e+00  9.24812189e-01
  -1.00429193e+00 -2.53425503e-01 -1.72620737e-01 -8.09347221e-01
  -6.30680659e-01]
 [ 1.13609160e+00 -4.10060046e-01  8.41856845e-01 -1.37294701e+00
   9.17849737e-02  1.57650184e+00  1.65998093e+00 -1.60063648e+00
   1.72725047e-01  1.89259491e-01 -3.05453891e-01  1.38792084e+00
   1.18335250e+00]
 [-1.39402604e-01 -9.02132102e-01 -1.67739384e-01 -4.82454584e-01
   1.50262411e+00 -1.23329456e+00 -7.75202184e-01 -1.26390999e+00
  -1.14276451e+00 -3.82362880e-01 -8.36786508e-01 -1.91525697e+00
  -3.64400562e-01]
 [ 1.76133385e+00 -4.28284937e-01  5.66153336e-02 -2.26343944e+00
   1.58967790e-01  1.65724311e+00  1.74431627e+00 -5.90457013e-01
   2.35366827e+00  1.07892739e+00  1.11143309e+00  5.73039967e-01
   2.68783505e+00]
 [-9.39712690e-01 -9.56806774e-01 -1.58865259e+00 -1.85623774e-01
  -5.12860369e-01  1.39307131e-01  5.76093559e-02  2.51359210e-01
   8.30469828e-01 -9.84070638e-01 -3.94009327e-01  6.02142855e-01
  -1.42286395e+00]
 [-6.89615788e-01  1.91361355e-01 -3.54701648e-01  7.04868655e-01
  -6.47226000e-01 -9.58774219e-01 -1.53229008e-01  2.52426301e+00
  -3.11929002e-01 -9.84070638e-01 -3.94009327e-01  1.00958329e+00
  -1.41287844e+00]
 [ 1.36117881e+00 -6.46983628e-01 -3.17309195e-01 -1.07611620e+00
   1.77135537e+00  1.17279546e+00  1.24884611e+00 -1.01136513e+00
   8.65087974e-01  2.83813567e-01  6.24378187e-01  1.60619250e+00
   1.34874620e-01]
 [-1.11478052e+00 -2.36923582e-01 -2.48607146e+00 -6.30869988e-01
  -1.76946290e-01 -7.06201862e-02  1.94654293e-01 -8.43001880e-01
  -3.46547148e-01 -7.26195885e-01  1.42137711e+00  5.14834191e-01
  -9.81204653e-02]
 [ 1.23199143e-01 -7.65445419e-01 -9.90373348e-01 -1.22453161e+00
  -1.09763474e-01  2.03900151e-01  6.90124449e-01 -6.74638636e-01
  -3.98474368e-01 -5.54279382e-01  1.02287765e+00  1.21945200e-01
   9.33714910e-01]
 [-8.52178774e-01  4.46509828e-01 -5.41663913e-01 -4.82454584e-01
  -7.81591632e-01  2.84641427e-01  2.78989639e-01 -9.27183503e-01
   6.74688169e-01 -1.22045583e+00  8.90044495e-01  1.00958329e+00
  -1.49609097e+00]
 [-8.02159394e-01 -1.12994324e+00 -3.17309195e-01 -1.07611620e+00
   9.17849737e-02 -3.61288779e-01 -9.43872875e-01  2.27171815e+00
  -2.06014539e+00 -7.39089622e-01  1.33282168e+00 -1.36230210e+00
  -1.97975502e-01]
 [ 9.23509229e-01 -4.37397383e-01 -1.81695722e-02 -8.98017717e-01
   9.17849737e-02  5.43013509e-01  9.43130486e-01 -7.58820258e-01
   1.55415974e-01 -5.11300257e-01  7.12933623e-01  2.02818438e+00
   9.83642428e-01]
 [ 1.52374179e+00 -6.83433410e-01  4.30539863e-01 -9.27700798e-01
   5.62064685e-01  1.65724311e+00  2.05003190e+00 -3.37912146e-01
   4.49670218e-01  1.59467690e+00  1.24426624e+00  3.11113974e-01
   3.13052571e+00]
 [-7.52140014e-01 -1.15728057e+00 -9.90373348e-01 -3.34039179e-01
  -7.81591632e-01  2.01250473e+00  1.86027737e+00 -1.01136513e+00
   6.05451877e-01 -2.10446378e-01  4.02989597e-01  2.38356753e-01
  -2.64545526e-01]
 [-1.00223692e+00 -8.11007647e-01  6.17502127e-01 -1.85623774e-01
   2.93333421e-01 -6.19660861e-01 -2.48106272e-01  7.56448945e-01
  -9.86982856e-01 -8.76622824e-01  2.21837604e+00 -5.47421227e-01
  -1.27973840e+00]
 [ 9.36014074e-01 -8.29232538e-01  5.05324769e-01 -8.68334636e-01
   5.62064685e-01  1.81872567e+00  1.77594203e+00 -1.43227324e+00
   7.61233535e-01  7.78073511e-01 -2.61176173e-01  3.83871194e-01
   1.81576773e+00]
 [-2.01926830e-01 -2.73373364e-02  1.31400239e-01  1.29853027e+00
  -1.09763474e-01 -1.81463174e+00 -9.43872875e-01 -7.58820258e-01
  -1.33316432e+00  3.05303130e-01 -1.27956369e+00 -1.81339686e+00
  -5.97395647e-01]
 [-1.51493556e+00  3.09823146e-01  2.07580779e+00  1.11207036e-01
   2.26150605e-01 -8.45736433e-01  4.70674377e-02  2.01917328e+00
  -9.52364709e-01 -5.11300257e-01  1.24426624e+00 -1.54532237e-01
  -4.40956090e-01]
 [ 2.48247594e-01  2.59704696e+00 -1.67739384e-01  7.04868655e-01
  -4.45677553e-01 -8.61884688e-01 -1.42880111e+00  2.10335490e+00
  -8.69110505e-02  1.25084389e+00 -1.54523000e+00 -1.63877953e+00
  -4.81929471e-02]
 [ 1.41119819e+00 -2.91598255e-01  1.31400239e-01 -2.44989936e-01
   2.26150605e-01  7.69089081e-01  9.85298159e-01 -3.37912146e-01
   1.34974202e+00  5.20198758e-01  5.35822751e-01  2.09253865e-01
   1.06685496e+00]
 [ 2.48247594e-01  2.27811137e-01  1.92228807e-02  1.11207036e-01
   1.36825847e+00 -1.00721898e+00 -1.37609152e+00  1.42990192e+00
  -2.42692709e-01  1.85255165e+00 -1.54523000e+00 -1.43505932e+00
   3.34584692e-01]
 [-1.69000340e+00 -3.18935591e-01 -3.17309195e-01 -4.82454584e-01
  -1.09763474e-01  1.20509197e+00  2.89531557e-01 -1.60063648e+00
  -4.33092514e-01 -7.47685448e-01  9.34322213e-01  5.14834191e-01
  -1.31302341e+00]
 [ 1.44871272e+00  1.60379040e+00  1.40274364e+00  1.44694568e+00
  -2.44129105e-01 -3.61288779e-01 -1.29175618e+00  1.68244679e+00
  -4.33092514e-01  1.80957253e+00 -1.50095228e+00 -1.46416220e+00
  -5.97395647e-01]
 [ 1.01104314e+00  3.82722710e-01 -2.42524290e-01  7.04868655e-01
  -6.47226000e-01 -1.49166664e+00 -1.37609152e+00  4.19722455e-01
  -9.86982856e-01  1.97289320e+00 -1.10245282e+00 -1.34775065e+00
  -4.14328080e-01]
 [ 9.23509229e-01  3.01621945e+00  3.18362504e-01  2.59622441e-01
  -3.11311921e-01 -9.58774219e-01 -1.44988495e+00  1.34572030e+00
  -9.35055636e-01  1.16488564e+00 -1.36811912e+00 -1.26044199e+00
   1.73457105e-03]]

Valores con escala Min-Max:
[[0.59210526 0.17786561 0.79569892 ... 0.49593496 0.56981132 0.48666128]
 [0.71052632 0.15019763 0.72043011 ... 0.57723577 0.54339623 0.81406629]
 [0.62105263 0.20355731 0.67741935 ... 0.35772358 0.73584906 0.74130962]
 ...
 [0.65263158 0.20948617 0.69354839 ... 0.50406504 0.60377358 0.66046888]
 [0.50789474 0.53557312 0.53225806 ... 0.16260163 0.18113208 0.32093775]
 [0.48684211 0.44466403 0.55913978 ... 0.21138211 0.05660377 0.20371867]]
[[ 0.80789474  0.28063241  0.50537634  0.3814433   0.38043478  0.67931034
   0.87647059  0.18        0.62025316  0.38139932  0.62601626  0.71698113
   0.99595796]
 [ 0.38947368  0.09881423  0.47849462  0.3556701   0.16304348  0.35172414
   0.07058824  0.94        0.26265823  0.35580205  0.2195122   0.09056604
   0.30072757]
 [ 0.74736842  0.22924901  0.77419355  0.45360825  0.40217391  0.67931034
   0.77352941  0.48        0.42405063  0.27474403  0.62601626  0.80377358
   0.51495554]
 [ 0.13947368  0.25889328  1.00537634  0.92268041  0.5326087   0.75862069
   1.39411765  0.68        0.45886076  0.40273038  0.36585366  0.91320755
   0.15117219]
 [ 0.69473684  0.10079051  0.30107527  0.3814433   0.26086957  0.3862069
   0.42647059  0.38        0.09810127  0.21501706  0.6097561   0.4490566
   0.28455942]
 [ 0.73684211  0.1798419   0.66666667  0.34020619  0.26086957  0.50689655
   0.77941176  0.18        0.59177215  0.36860068  0.61788618  0.79245283
   0.79789814]
 [ 0.79736842  0.27865613  0.67204301  0.36082474  0.55434783  0.55862069
   0.63823529  0.36        0.26265823  0.32167235  0.47154472  0.87169811
   0.82215036]
 [ 0.54736842  0.05335968  0.1827957   0.22680412  0.08695652  0.68965517
   0.83529412  0.26        0.58860759  0.34300341  0.5203252   0.72075472
   0.18108327]
 [ 0.26578947  0.70355731  0.5483871   0.58762887  0.10869565  0.3862069
   0.41470588  0.58        0.2943038   0.11262799  0.25203252  0.49056604
   0.24413905]